# OpenClaw Setup
HETZNER_API_TOKEN=
SERVER_IP=
SERVER_NAME=openclaw-server
SSH_PUBLIC_KEY=
TELEGRAM_BOT_NAME=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=
DASHBOARD_PORT=18789
DASHBOARD_TOKEN=
DASHBOARD_URL=
